<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="mdk-drawer__inner" data-simplebar data-simplebar-force-enabled="true">

            <nav class="drawer  drawer--dark">
                <div class="drawer-spacer">
                    <div class="media align-items-center">
                        <a href="#" class="drawer-brand-circle mr-2">D</a>
                        <div class="media-body">
                            <a href="#" class="h5 m-0 text-link">Admin Dashboard</a>
                        </div>
                    </div>
                </div>

                <div class="py-2 drawer-heading">
                    PRODUCT MANAGEMENT 
                </div>

                <ul class="drawer-menu" id="pagesMenu" data-children=".drawer-submenu">
                  <li class="drawer-menu-item drawer-submenu">
                    <a data-toggle="collapse" data-parent="#componentsMenu" href="#" data-target="#formsMenu" aria-controls="formsMenu" aria-expanded="false" class="collapsed">
                        <i class="material-icons">list</i>
                        <span class="drawer-menu-text"> PRODUCTS</span>
                        </a>
                    <ul class="collapse show" id="formsMenu">
                      <li class="drawer-menu-item "><a href="/admin/products">All Products</a></li>
                      <li class="drawer-menu-item "><a href="/admin/add-product">Add New</a></li>
                      <li class="drawer-menu-item "><a href="/admin/product-categories">Categories</a></li>
                    </ul>
                </li>

                <!-- HEADING -->
                <div class="py-2 drawer-heading">
                    CONTENT MANAGEMENT 
                </div>

                <!-- PAGES MENU -->
                <ul class="drawer-menu" id="pagesMenu" data-children=".drawer-submenu">
                  <li class="drawer-menu-item drawer-submenu">
                    <a data-toggle="collapse" data-parent="#componentsMenu" href="#" data-target="#formsMenuccms" aria-controls="formsMenuccms" aria-expanded="false" class="collapsed">
                        <i class="material-icons">list</i>
                        <span class="drawer-menu-text"> Posts</span>
                        </a>
                    <ul class="collapse show" id="formsMenuccms">
                      <li class="drawer-menu-item "><a href="/admin/bloglist">All Posts</a></li>
                      <li class="drawer-menu-item "><a href="/admin/new-post">Add New</a></li>
                      <li class="drawer-menu-item "><a href="#">Categories</a></li>
                      <li class="drawer-menu-item "><a href="#">All Pages</a></li>
                      <li class="drawer-menu-item "><a href="/admin/all-contacts">Contacts</a></li>
                    </ul>
                </li>

                <div class="py-2 drawer-heading">
                    ORDER MANAGEMENT 
                </div>

                <ul class="drawer-menu" id="pagesMenu" data-children=".drawer-submenu">
                  <li class="drawer-menu-item drawer-submenu">
                    <a data-toggle="collapse" data-parent="#componentsMenu" href="#" data-target="#formsMenuOrders" aria-controls="formsMenuOrders" aria-expanded="false" class="collapsed">
                        <i class="material-icons">list</i>
                        <span class="drawer-menu-text">  All Orders</span>
                    </a>

                    <ul class="collapse show" id="formsMenuOrders">
                      <li class="drawer-menu-item "><a href="/admin/all-orders">All Orders</a></li>
                    </ul>
                </li>


                <div class="py-2 drawer-heading">
                    ACCOUNT MANAGEMENT 
                </div>
                  

                </ul>

            </nav>
        </div>
    </div>
</div>