<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>


    <link type="text/css" href="/admin_assets/css/vendor-bootstrap-datepicker.css" rel="stylesheet">
    <link type="text/css" href="/admin_assets/css/vendor-morris.css" rel="stylesheet">

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- App CSS -->
    <link type="text/css" href="/admin_assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="/admin_assets/css/app.rtl.css" rel="stylesheet">

    <!-- Simplebar -->
    <link type="text/css" href="/admin_assets/vendor/simplebar.css" rel="stylesheet">

    <link type="text/css" href="/admin_assets/css/vendor-summernote.css" rel="stylesheet">
      <link type="text/css" href="/admin_assets/css/vendor-fancybox.css" rel="stylesheet">

    <link type="text/css" href="/admin_assets/css/custom-style.css" rel="stylesheet">

    <script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
</head>

<body>