/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.blog-pegination .pegination ul li.active a {
    background: #fbcf00;
    color: #000;
}

.blog-pegination .pegination ul li a {
  font-size: 18px;
}

.blog-pegination .pegination ul li:hover a {
    background: transparent;
}

.recent-news {
      color: #2c373e;
    font-size: 22px;
    font-family: 'Squada One', cursive;
    font-weight: 400;
    padding: 15px 0;
    text-transform: none;
}

.slick-next.slick-arrow,.slick-prev.slick-arrow {
  background: none;
}

.tablink.active {
    border-bottom: 8px solid #171716;
    color: #171716;
}


.battery-btn button {
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.login-sec {
    /* float: left; */
    padding-right: 30px;
    border: 1px solid #b7b7b7;
    padding: 30px;
}